body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFE7D1;
    font-size: 16px;
    color: rgb(10,10,10);
    line-height: 16px;
}

h1,h2,h3{
    font-family: 'Bitter', serif;
    color: #4B8E8D;
    line-height: 24px;
}
.fa, .fab {
  padding: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 200ms ease-in,
  box-shadow 200ms ease-in,
  z-index 200ms;
}
.fa, .fab:hover{
  color:black;
  box-shadow: 0px 0px 150px #000000;
  z-index: 10;
  transform: scale(1.5);

}
.img-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.vertical{
  transform: rotate(270deg);
}
.btn{
  padding: 10px 20px 10px 20px;
  border: 1px solid;
  border-radius: 25px;
}
.btn-green{
  background-color:#396363;
  color: white;
  transition-property: background-color, color, width;
  transition-duration: 1s;
  transition-delay: 0.4s;
}
.btn-green:hover{
  background-color: #4B8E8D;
  color: #FFE7D1;
  border:none;
}
a{
  text-decoration: none;
  color: #396362;
}
#introduction p{
  margin-bottom: 32px;
}
.container {
    width: 700px;
    margin: 40px auto;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px){
  .container{
    width: 1080px;
  }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){
  .container{
    width: 1160px;

  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

